{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>
    <h3>{{ _('You have not confirmed your account yet.') }}</h3>
    <p>
        {{ _('Before you can access this site you need to confirm your account. '
             'Check your inbox, you should have received an email with a confirmation link.') }}
    </p>
    <p>
        {% autoescape false %}
        {{ _('Need another confirmation email? <a href="%(url)s">Click here</a>',
             url=url_for('auth.resend_confirmation')) }}
        {% endautoescape %}
    </p>
</div>
{% endblock %}
