body {
    background: url("background.jpg") repeat scroll 0 0;
}

.page-header {
    background-color: white;
    padding: 15px;
    margin-top: 0px;
}

.page-content {
    background-color: white;
    padding: 15px;
}

.page-form {
    margin: 0 auto;
    max-width: 400px;
}

.entry-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.entry-box:hover {
    border-color: #d6d6d6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.oauth {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    height: 40px;
}

ul.oauth li {
    float: left;
    padding: 2px;
    margin-right: 12px;
}

ul.oauth li:hover {
    border-color: #d6d6d6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

div.post-tabs {
    margin-top: 16px;
}

div.post-tabs ul {
    border-bottom: 0px;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.posts li.post {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

ul.posts li.post:hover {
    border-color: #d6d6d6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

div.post-control {
    text-align: right;
}

div.qrcode {
    position: fixed;
    display: none;
    border: 1px solid #aaa;
    z-index: 99;
}

div.qrcode-sm {
    float: left;
    width: 50px;
    padding-left: 60px;
    margin-left: -60px;
    transform: skew(-50deg, 0deg);
    -ms-transform: skew(-50deg, 0deg); /* IE 9 */
    -moz-transform: skew(-50deg, 0deg); /* Firefox */
    -webkit-transform: skew(-50deg, 0deg); /* Safari and Chrome */
    -o-transform: skew(-50deg, 0deg); /* Opera */
    overflow: hidden;
}

div.qrcode-sm img {
    transform: skew(50deg, 0deg);
    -ms-transform: skew(50deg, 0deg); /* IE 9 */
    -moz-transform: skew(50deg, 0deg); /* Firefox */
    -webkit-transform: skew(50deg, 0deg); /* Safari and Chrome */
    -o-transform: skew(50deg, 0deg); /* Opera */
}

div.post-title {
    margin-bottom: 10px;
    text-align: center;
}

div.post-header > div {
    float: left;
    margin-right: 0.5em;
}

div.post-author {
    font-weight: bold;
}

div.post-footer {
    text-align: right;
}

.comments-body {
    background-color: white;
    padding: 15px;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.pagination {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

.post-body img, .flask-pagedown-preview img {
    max-inline-size: 90%; /* for Gecko */
    max-width: 90%; /* for Blink */
}

#sideBar {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: fixed; /* 固定div位置 */
    top: 20%;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 99;
}

#sideBarTab {
    float: left;
    width: 30px;
    border: 1px solid #e5e5e5;
    border-right: none;
    text-align: center;
    background: #ffffff;
    writing-mode: vertical-rl;
}

#sideBarTab h2 {
    margin: 0;
    padding: 10px 2px;
}

#sideBarContents {
    float: left;
    overflow: auto;
    overflow-x: hidden !important;
    min-width: 160px;
    min-height: 110px;
    max-height: 420px;
    border: 1px solid #e5e5e5;
    border-right: none;
    background: #ffffff;
    padding: 10px 10px 10px 0;
}

#sideBarContents ul {
    padding-left: 20px;
    list-style-type: none;
}

#sideBarContents li a:hover {
    color: #979;
}

.tag-size {
    font-size: 14px;
    margin-right: 0.5em;
}

textarea {
    width: auto;
    min-height: 70px;
    overflow: hidden;  // 隐藏导航条
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

#footer {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    color: #555;
    background-color: #e2e2e2;
}
