<!-- 博客文章列表 -->
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-title">
            <h3><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></h3>
        </div>
        <div class="post-info">
            <div class="post-header">
                <!-- 头像, 作者 -->
                <div class="post-author">
                    <a href="{{ url_for('.user', username=post.author.username) }}">
                        <img class="img-rounded" src="{{ post.author.gravatar(size=18) }}">
                    </a>
                    <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                </div>
                <!-- 日期 -->
                <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                <!-- 分类 -->
                <div>Category:
                <a href="{{ url_for('.get_category', id=post.category.id) }}">
                    <span class="label label-info">{{ post.category.name }}</span>
                </a>
                </div>
            </div>

            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="#">
                    <span class="label label-primary">{{ post.num_of_view }} Views</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-success">{{ post.comments.count() }} Comments</span>
                </a>
            </div>

        {% if show_body %}<hr />
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            {% if post.tags|list()|length() > 0 %}
            <div class="post-footer">Tag:
                {% for tag in post.tags %}
                <a href="{{ url_for('.get_tag', id=tag.id) }}">
                    <span class="label label-primary">{{ tag.name }}</span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
