{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='friendly.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.index') }}">
                        <span class="glyphicon glyphicon-home">Home</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-wrench">Tools<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.get_chrome', os='win') }}">Get Chrome</a></li>
                        <li><a href="{{ url_for('main.get_rpm_items') }}">RPM Update System</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=20) }}">
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                        <!-- 管理评论链接 -->
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- 使用 get_flashed_messages() 函数获取并渲染消息 -->
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% block page_content %}
            {% endblock %}
        </div>  <!-- /article -->
        <div class="col-md-4">
            {% block page_plugin %}
                <div class="entry-box">
                    <h5><strong>博客统计</strong></h5>
                    <p>访问量：<span class="badge">{{ BlogView.query.count() }}</span></p>
                    <p>
                        博文总数：<span class="badge">{{ Post.query.count() }}</span>
                        评论总数：<span class="badge">{{ Comment.query.count() }}</span>
                    </p>
                </div>
            {% endblock %}
        </div>  <!-- /plugin -->
    </div>  <!-- /row -->
</div>  <!-- /container -->
<footer id="footer">
    Copyright &copy; 2014-2016 <a href="{{ url_for('main.index') }}">Flasky</a>. Powered by
    <a target="_blank" href="//github.com/1dot75cm/flasky">Flasky</a>,
    <a target="_blank" href="//github.com/pallets/flask/">Flask</a> and
    <a target="_blank" href="//github.com/twbs/bootstrap/">Bootstrap</a>.
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- 引入 moment.js 库 -->
{{ moment.include_moment() }}
<script type="text/javascript" src="{{ url_for('static', filename='posts.js') }}"></script>
{% endblock %}
