{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Categories{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-8">

    <h4>Categories</h4>
{% for category in categories %}
    <a href="{{ url_for('.get_category', id=category.id) }}">
        <span class="label label-info tag-size">{{ category.name }}</span>
    </a>
{% endfor %}
    <hr />
{% if category %}
    <h4>Articles with {{ category.name }} category</h4>
{% else %}
    <h4>Articles</h4>
{% endif %}

{% include '_posts.html' %}

{% if pagination %}
    <div class="pagination">
    {% if category %}
        {{ macros.pagination_widget(pagination, '.get_category', id=category.id) }}
    {% else %}
        {{ macros.pagination_widget(pagination, '.get_category') }}
    {% endif %}
    </div>
{% endif %}

    </div>
</div>
{% endblock %}
