{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Comment Moderation{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Comment Moderation') }}</h1>
</div>
<div class="comments-body">
<!-- 设置模版变量 moderate, 决定 __comments.html 模版是否渲染评论管理功能 -->
{% set moderate = True %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.moderate') }}
</div>
{% endif %}
</div>
{% endblock %}
