{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
{% set show_body = True %}
{% include '_posts.html' %}

<div class="comments-body">
    <h4 id="comments">
        <span class="glyphicon glyphicon-comment"></span>{{ _('Comments') }}</h4>

{% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
{% else %}
    {% autoescape false %}
    <p>{{ _('You need to <a href="%(url)s">click here</a> to login for post comment.',
            url=url_for('auth.login', next=url_for('.post', id=posts[0].id))) }}</p>
    {% endautoescape %}
{% endif %}

{% include '_comments.html' %}

{% if pagination %}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
    </div>
{% endif %}
</div>
{% endblock %}
