{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - RPM Update System{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>{{ pkg.task_id }}</h3>
</div>

<div class="page-content">
    <table class="table table-hover followers">
        <tr>
            <td>Builds</td>
            <td>{{ pkg.name }}</td>
        </tr>
        <tr>
            <td>Packages</td>
            <td>
                <p>i386: {{ pkg.get_pkg_dict()['i386'] | join(', ') }}</p>
                <p>x86_64: {{ pkg.get_pkg_dict()['x86_64'] | join(', ') }}</p>
            </td>
        </tr>
        <tr>
            <td>Update ID</td>
            <td><a href="{{ url_for('main.get_rpm_task', id=pkg.task_id)}}">{{ pkg.task_id }}</a></td>
        </tr>
        <tr>
            <td>Release</td>
            <td>{{ pkg.release.name }}</td>
        </tr>
        <tr>
            <td>Karma</td>
            <td>
                <span class="label label-{% if pkg.karma >= 0 %}success{% else %}danger{% endif %}">
                {% if pkg.karma > 0 %}+{% endif %}{{ pkg.karma }}</span>
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if pkg.status == 'pending' %}
                <span class="label label-primary">{{ pkg.status }}</span>
                {% elif pkg.status == 'testing' %}
                <span class="label label-warning">{{ pkg.status }}</span>
                {% elif pkg.status == 'stable' %}
                <span class="label label-success">{{ pkg.status }}</span>
                {% elif pkg.status == 'obsolete' %}
                <span class="label label-default">{{ pkg.status }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Submitted</td>
            <td><time class="table-date">{{ moment(pkg.timestamp).fromNow(refresh=True) }}</time></td>
        </tr>
    </table>
</div>

<div class="comments-body">
    <h4 id="comments">
        <span class="glyphicon glyphicon-comment"></span>Comments</h4>

{% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
{% else %}
    <p>You need to <a href="{{ url_for('auth.login', next=url_for('main.get_rpm_task', id=pkg.task_id)) }}">
click here</a> to login for comment.</p>
{% endif %}

{% include '_comments.html' %}

{% if pagination %}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.get_rpm_task', fragment='#comments', id=pkg.task_id) }}
    </div>
{% endif %}
</div>
{% endblock %}
